.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkslategray;
  height: 70vh;
}

.label {
  width: 350px;
}

.block {
  margin-top: 20px;
}